body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h2{
  color: #66BFBF;
  margin: 0 auto 2px auto;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  padding: 10px;
}
h1{
  color: #66BFBF;
  margin: 2px auto 2px auto;
font-family: 'Sacramento', cursive;
font-size: 4rem;
}
h3{
  color: #11999E;
  margin: 2px auto 0 auto;
font-family: 'Montserrat', sans-serif;
font-size: 2rem;
font-weight: normal;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 50px auto;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
  }
.bottom-cloud{
  position: absolute;
  left: 100px;
  top: 200px;
}
.middle-container{
  margin: 50px 0;
}
.skill-row{
  width: 70%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.Web_Developement{
 width: 20%;
 float: left;
 margin-right: 30px;
}
.Hacking{
  width: 30%;
  float: right;
  margin-left: 20px;
}
.btn {
  background: #28c4c9;
  background-image: -webkit-linear-gradient(top, #28c4c9, #0b888c);
  background-image: -moz-linear-gradient(top, #28c4c9, #0b888c);
  background-image: -ms-linear-gradient(top, #28c4c9, #0b888c);
  background-image: -o-linear-gradient(top, #28c4c9, #0b888c);
  background-image: linear-gradient(to bottom, #28c4c9, #0b888c);
  -webkit-border-radius:  8;
  -moz-border-radius:  8;
  border-radius:  8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #298a7a;
  background-image: -webkit-linear-gradient(top, #298a7a, #12e6c3);
  background-image: -moz-linear-gradient(top, #298a7a, #12e6c3);
  background-image: -ms-linear-gradient(top, #298a7a, #12e6c3);
  background-image: -o-linear-gradient(top, #298a7a, #12e6c3);
  background-image: linear-gradient(to bottom, #298a7a, #12e6c3);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  padding: 10px 0;
  font-size: 0.75rem;
}
